<div>
    <h1>Creatinine Clearance (Cockcroft-Gault Equation)</h1>

    <div>
        <h3>Instructions</h3>
        <p>For use in patients with stable renal function to estimate creatinine clearance.</p>        
    </div>

    <form>
        <div class="form-group">
            <h2>Sex</h2>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="radio-sex-female" name="radio-sex" value="F">
                Female
                <label class="form-check-label" for="radio-sex-female"></label>
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="radio-sex-male" name="radio-sex" value="M">
                Male
                <label class="form-check-label" for="radio-sex-male"></label>
            </div>
        </div>
        
        <div class="form-group">
            <h2>Age</h2>
    
        </div>
    
        <div class="form-group">
            <h2>Weight</h2>
        </div>
    
        <div class="form-group">
            <h2>Creatinine</h2>
        </div>
    </form>   
</div>
